# The minimum required config options for loading from kinesis
"input": {
  "type": "kinesis"
  "streamName": "test-kinesis-stream"
  "initialPosition": "LATEST"
  "region": "eu-central-1"
}
"output": {
  "good": {
    "type": "elasticsearch"
    "client": {
      "endpoint": "localhost"
      "port": 9200
      "ssl": true
    }
    "aws": {
      "signing": false
      "region": "eu-central-1"
    }
    "cluster": {
      "index": "good"
    }
  }
  "bad" {
    "type": "kinesis"
    "streamName": "test-kinesis-bad-stream"
    "region": "eu-central-1"
  }
}
"purpose": "bad"
