# The minimum required config options for loading from nsq
"input": {
  "type": "nsq"
  "streamName": "test-nsq-stream"
  "channelName": "test-nsq-channel-name"
  "nsqlookupdHost": "127.0.0.1"
  "nsqlookupdPort": 34189
}
"output": {
  "good": {
    "type": "elasticsearch"
    "client": {
      "endpoint": "localhost"
      "port": 9200
      "ssl": true
    }
    "aws": {
      "signing": false
      "region": "eu-central-1"
    }
    "cluster": {
      "index": "good"
    }
  }
  "bad" {
    "type": "nsq"
    "streamName": "test-nsq-bad-stream"
    "nsqdHost": "127.0.0.1"
    "nsqdPort": 24509
  }
}
"purpose": "plain-json"
