# The minimum required config options for loading from kinesis
"input": {
  "type": "kinesis"
  "streamName": "test-kinesis-stream"
  "initialPosition": "LATEST"
  "maxRecords": 1000
  "region": "eu-central-1"
  "appName": "test-app-name"
  "buffer": {
    "byteLimit": 10000
    "recordLimit": 1000
    "timeLimit": 10000
  }
}
"output": {
  "good": {
    "type": "elasticsearch"
    "client": {
      "endpoint": "localhost"
      "port": 9200
      "maxTimeout": 10000
      "maxRetries": 6
      "ssl": true
    }
    "aws": {
      "signing": false
      "region": "eu-central-1"
    }
    "cluster": {
      "index": "good"
    }
    "chunk": {
      "byteLimit": 10000
      "recordLimit": 1000
    }
  }
  "bad" {
    "type": "kinesis"
    "streamName": "test-kinesis-bad-stream"
    "region": "eu-central-1"
  }
}
"purpose": "bad"
